@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model DetailpageNews

@if (Model == null)
{
    <div>Detail not found</div>
}
else
{
    <div class="row g-5">
        <div class="col-md-8">

            <article class="blog-post">
                <h2 class="display-5 link-body-emphasis mb-1">@Model.Data.NewsDetail.Title</h2>
                <p class="blog-post-meta">@Model.Data.NewsDetail.PublishDate</p>

                @Html.Raw(Model.Data.NewsDetail.BodyText)
            </article>
        </div>

        <div class="col-md-4">
            <div class="position-sticky" style="top: 2rem;">

                <div>
                    <h4 class="fst-italic">Related news</h4>
                    <ul class="list-unstyled">
                        <li>
                            <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="#">
                                <img class="bd-placeholder-img" width="100%" height="96px" href="@Model.Data.RelatedNews.ImageUrl" alt="news image" />
                                <div class="col-lg-8">
                                    <h6 class="mb-0">@Model.Data.RelatedNews.Title</h6>
                                    <small class="text-body-secondary">@Model.Data.RelatedNews.PublishDate</small>
                                </div>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
}

